@font-face {
  font-family: "微軟正黑體", sans-serif;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-default {
  background-color: #009688;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav>li>a {
    color: #E0F2F1;
}

.vis-item.red {
  color: white;
  background-color: red;
  border-color: darkred;
}

img {
  width: 70px;
  height: 70px;
}

.img-circle {
  width: 100%;
}

.fa-thumbs-up {
  color: #5bc0de;
  /* #5bc0de */
}
.fa-thumbs-down {
  color: #d9534f; 
}

.modal-dialog{
  overflow-y: initial !important
}

.modal-body{
  height: 500px; 
  overflow-y: auto;
}

#bug {
  width: 115px;
  background: #00897B;
  bottom: 100px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  position: fixed;
  right: -87px;
  font-size: 20px;
}

#bug:hover{
  right: -5px;
}

.vis-item{
  color: #E8EAF6;
  border-color: #9FA8DA;
  background-color: #3F51B5;
}

.vis-item.vis-selected {
  color: #FFFFFF;
  border-color: #B71C1C;
  background-color: #C62828;
}