<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="暨南國際大學，課程評價系統">
		<meta name="author" content="Wang-Mao-Lin">                 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css" rel="stylesheet" >
		<link href="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css" rel="stylesheet">
		<link href="css/introjs.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-66640410-1', 'auto');
			ga('send', 'pageview');

		</script>
		<title>NCNU Course</title>
	</head>

	<body ng-app="courseApp" ng-controller="CourseCtrl">

		<!-- Navabar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">NCNU Course</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="http://imcourse-jonilars.rhcloud.com/ncnu.htm">我的課表</a></li>
						<li><a href="http://imcourse-jonilars.rhcloud.com/ncnu/exchange.htm">換課平台</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
  							<a href="#" onclick="javascript:introJs().start();"><i class="fa fa-fw fa-question-circle"></i>使用說明</a>
						</li>
						<li ng-show="!authObj.$getAuth()">
							<a href="#" ng-click="login()">登入</a>
						</li>
						<li ng-show="authObj.$getAuth()">
  							<a href="#" ng-click="authObj.$unauth()">登出</a>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>

		<!-- Timeline -->
		<section class="container" data-step="1" data-intro=" 歡迎來到NCNU Course！你可以看到這學期的選課時程表，大家記得8月24~26要去填通識志願序喔！！不然就沒有通識課囉～">
			<div id="timeline-header">
				<h2 id="timeline-text">NCNU 104-1 選課時程表</h2>
				<button id="timeline-button" class="btn btn-default" role="button" data-toggle="collapse" href="#timeline-div"><i class="fa fa-fw fa-lg fa-plus-circle"></i>展開</button>
			</div>
			
			<div id="timeline-div">
				<br>
				<button type="button" class="btn btn-default focusbutton" id="0">大學部學生選填通識課程志願</button>
				<button type="button" class="btn btn-default focusbutton" id="1">第一階段全校學生網路選課</button>
				<!-- <button type="button" class="btn btn-default focusbutton" id="3">新生訓練營</button> -->
				<button type="button" class="btn btn-default focusbutton" id="2">第二階段全校學生網路選課</button>
				<button type="button" class="btn btn-default focusbutton" id="4">開學</button>
				<button type="button" class="btn btn-default focusbutton" id="5">加退選</button>
				<br><br>
				<div id="timeline"></div>	
			</div>
			
		</section>
		<hr>

		<!-- course -->
		<section>
			<div class="container" id="courseTable" data-step="2" data-intro="這邊是目前1041學期的通識課程列表，目前暫時使用control+f來搜尋，登入Facebook後就可以開始給評價囉！">				
				<table class="table table-bordered table-hover" >
					<thead>
						<tr>
							<td>課號</td>
							<td>課名</td>
							<td>開課教師</td>
							<td>推薦人數</td>
							<td>評價人數</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, course) in courses | filter:searchText"> 
							<td ng-bind="course.courseid"></td>
							<td ng-bind="course.cname"></td>
							<td ng-bind="course.teachers"></td>
							<td ng-bind="course.recommend"></td>
							<td ng-bind="(course.recommend + course.unrecommend)"></td>
							<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#giveScore" ng-click="score($index)">課程評價</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<footer id="footer">
			<div class="container">
				<p>
					<br>
				</p>
			</div>
		</footer>
		<div id="bug" style="display: block;" ng-show="authObj.$getAuth()" ng-click="bug()" ><i class="fa fa-fw fa-cog"></i>問題回報</div>

		<!-- Modal -->
		<div class="modal fade" id="giveScore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h1 class="modal-title" id="myModalLabel" ng-bind="myModalLabel"></h1>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6">
									<h4>評價內容</h4>
									<table class="table table-hover" >
										<tbody>
											<tr ng-repeat="post in posts | orderBy:'-date'">
												<td>
													<span class="comment-text">
														<img class="img-circle" ng-src="http://graph.facebook.com/{{post.userid}}/picture">
													</span>
												</td>
												<td>
													<span class="comment-text">
														<a ng-href='http://fb.com/{{post.userid}}' ng-bind="post.username"></a>
													</span>
													
													<span class="comment-text" ng-show="(post.recommend == 1)">
														<i class="fa fa-lg fa-thumbs-up"></i>
													</span>
													<span class="comment-text" ng-show="(post.recommend == 0)">
														<i class="fa fa-lg fa-thumbs-down"></i>
													</span>

													<span class="comment-text comment-text-right" ng-bind="post.date | date:'mediumDate'"></span>
													<div class="comment-messages" ng-bind="post.messages"></div>
												</td>
												
											</tr>
										</tbody>
									</table>
								</div>

								<div class="col-md-6">
									<div> 
										<h4>意見總人數：<span ng-bind="(tureNum + falseNum)"></span></h4>
										<canvas ng-hide="(tureNum + falseNum) == 0" id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colours="colours"></canvas> 
									</div>

									<div> 
										<form class="form-group" ng-submit="addPost(recommend, message)">
											<div class="radio">
												<label><input type="radio" ng-model="recommend" value="1" ng-required="!recommend" ng-disabled="(postsBefore == 1) || !authObj.$getAuth()">推薦</label>
												<label><input type="radio" ng-model="recommend" value="0" ng-required="!recommend" ng-disabled="(postsBefore == 1) || !authObj.$getAuth()">不推薦</label>
												<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</</span>
												<input type="submit" class="btn btn-success" value="送出" ng-disabled="(postsBefore == 1) || !authObj.$getAuth()" />
											</div>
											<textarea  class="form-control" ng-model="message" placeholder="推薦與否，或是留下對這堂課的想法吧 ლ(◉◞౪◟◉ )ლ" rows="3" ng-disabled="(postsBefore == 1) || !authObj.$getAuth()"></textarea>
											<br>
											<div class="alert alert-danger"  ng-show="!authObj.$getAuth()">還沒登入，無法送出評價唷～</div>
											<div class="alert alert-danger"  ng-show="(postsBefore == 1)">已經留過評論，不能再留了喔!!</div> 
											<div class="alert alert-success"  ng-show="(postsBefore == 0)">一人只能有一次評論機會 (`・ω・´)</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="bugModal" tabindex="-1" role="dialog" aria-labelledby="bug">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">問題回報</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<textarea  class="form-control" ng-model="report" placeholder="任何問題或是有覺得系統哪邊可以改進，都可以回報給我唷 ヽ(✿ﾟ▽ﾟ)ノ" rows="3"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" ng-click="addReports(report)" value="確認"/>
						<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.js"></script>
		<script type="text/javascript">
			// DOM element where the Timeline will be attached
			var container = document.getElementById('timeline');

			// Create a DataSet (allows two way data-binding)
			var items = new vis.DataSet([
				{	id: 0, content: '大學部學生選填通識課程志願',
					start: '2016-01-25 13:30:00', end: '2016-01-27 12:00:00'},
				{	id: 1, content: '第一階段全校學生網路選課',
					start: '2016-01-28 09:00:00', end: '2016-02-01 12:00:00'},
				{	id: 2, content: '第二階段全校學生網路選課',
					start: '2016-02-18 09:00:00', end: '2016-02-22 12:00:00'},
				{	id: 4, content: '開學',
					start: '2016-02-22 09:00:00'},
				{	id: 5, content: '加退選',
					start: '2016-02-23 09:00:00', end: '2016-03-07 12:00:00'},
			]);

			// Configuration for the Timeline
			var options = {
				minHeight: '150px', 
				maxHeight: '150px'
			};
			// Create a Timeline
			var timeline = new vis.Timeline(container, items, options);
			// click button & scale the timeline

			timeline.moveTo(timeline.getCurrentTime());
			$('.focusbutton').on('click', function(){
				timeline.setSelection(($(this).attr('id')), {
					focus: true
				});
			});

			$('#timeline-div').collapse('toggle');
		</script>
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<!-- Firebase -->
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
		<script src="js/control.js"></script>
		<script src="js/intro.min.js"></script>
		<!-- ChartJS -->
		<script src="http://cdn.rawgit.com/nnnick/Chart.js/master/Chart.min.js" type="text/javascript"></script>
		<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
	</body>
</html>