<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="暨南國際大學">
		<meta name="author" content="Wang-Mao-Lin">                 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.css" rel="stylesheet" >
		<link href="css/styles.css" rel="stylesheet">
		
		<title>NCNU Course Info</title>
	</head>

	<body ng-app="courseApp" ng-controller="CourseCtrl">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">NCNU Course</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="http://imcourse-jonilars.rhcloud.com/ncnu.htm">我的課表</a></li>
						<li><a href="http://imcourse-jonilars.rhcloud.com/ncnu/exchange.htm">換課平台</a></li>
					</ul>
			      	<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" ng-model="searchText" class="form-control" placeholder=" 課名 / 課號 / 老師" > 
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li ng-show="!authObj.$getAuth()">
							<a href="#" ng-click="login()">Login</a>
						</li>
						<li ng-show="authObj.$getAuth()">
  							<a href="#" ng-click="authObj.$unauth()">Logout</a>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>
		<section class="container">
			<h2>NCNU 104-1 選課時程表</h2>
			<div id="timeline"></div>
			<br>
			<button type="button" class="btn btn-default focusbutton" id="1">大學部學生選填通識課程志願</button>
			<button type="button" class="btn btn-default focusbutton" id="2">第一階段全校學生網路選課</button>
			<button type="button" class="btn btn-default focusbutton" id="4">新生訓練營</button>
			<button type="button" class="btn btn-default focusbutton" id="3">第二階段全校學生網路選課</button>
			<button type="button" class="btn btn-default focusbutton" id="5">開學</button>
			<button type="button" class="btn btn-default focusbutton" id="6">加退選</button>
		</section>
		<hr>
		<section>
			<div class="container" id="courseTable">
				<table class="table table-bordered table-hover" >
					<thead>
						<tr>
							<td>課名</td>
							<td>課號</td>
							<td>班別</td>
							<td>開課系所代碼</td>
							<td>年級</td>
							<td>開課教師</td>
							<td>地點</td>
							<td>時間</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, course) in courses | filter:searchText">
							<td>{{course.cname}}</td>
							<td>{{course.courseid}}</td>
							<td>{{course.class}}</td>
							<td>{{course.departid}}</td>
							<td>{{course.grade}}</td>
							<td>{{course.teachers}}</td>
							<td>{{course.place}}</td>
							<td>{{course.time}}</td>  
							<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#giveScore" ng-click="score(key)">給評價！</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<footer id="footer">
			<div class="container">
				<p>
					<br>
				</p>
			</div>
		</footer>
		<div id="bug" style="display: block;" ng-show="authObj.$getAuth()" ng-click="bug()" ><i class="fa fa-cog"></i>問題回報</div>

		<!-- Modal -->
		<div class="modal fade" id="giveScore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">{{myModalLabel}}</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6"> 
									<h4>推薦｜不推薦</h4>
									<h5>意見總人數：<span ng-bind="(tureNum + falseNum)"></span></h5>
									<progress>
										<bar value="tureNum / (tureNum + falseNum) * 100 | number:2" type="info">{{tureNum / (tureNum + falseNum) * 100 | number:2}}%</bar>
										<bar value="falseNum / (tureNum + falseNum) * 100 | number:2" type="danger">{{falseNum / (tureNum + falseNum) * 100 | number:2}}%</bar>
									</progress>
								</div>
								<div class="col-md-6"> 
									<form class="form-group" ng-submit="addPost(recommend, message)">
										<div class="radio">
											<label><input type="radio" ng-model="recommend" value="1" ng-required="!recommend" ng-disabled="(postsBefore == 1)">推薦</label>
											<label><input type="radio" ng-model="recommend" value="0" ng-required="!recommend" ng-disabled="(postsBefore == 1)">不推薦</label>
											<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</</span>
											<input type="submit" class="btn btn-success" value="POST" ng-disabled="(postsBefore == 1)" />
										</div>
										<textarea  class="form-control" ng-model="message" placeholder="推薦與否，或是留下對這堂課的想法吧 ლ(◉◞౪◟◉ )ლ" rows="3" ng-disabled="(postsBefore == 1)"></textarea>
										<br>
										<div class="alert alert-danger"  ng-show="!authObj.$getAuth()">還沒登入，無法送出評價唷～</div>
										<div class="alert alert-danger"  ng-show="(postsBefore == 1)">已經留過評論，不能再留了喔!!</div> 
										<div class="alert alert-success"  ng-show="(postsBefore == 0)">一人只能有一次評論機會 (`・ω・´)</div>
									</form>
								</div>
								<div>
									<h1>評價溜</h1>
								</div>
								<div>
									<table class="table table-hover" >
										<tbody>
											<tr data-ng-repeat="post in posts">
												<td width="15%">
													<img class="img-circle" ng-src="{{post.img}}">
												</td>
												<td width="19%">
													<a ng-href='http://fb.com/{{post.userid}}'  >{{post.username}}</a>
													<br>
													{{post.date | date:'mediumDate'}}
												</td>
												<td width="5%" valign="center">
													<span ng-show="(post.recommend == 1)" >
														<i class="fa fa-2x fa-thumbs-up"></i>
													</span>
													<span ng-show="(post.recommend == 0)" >
														<i class="fa fa-2x fa-thumbs-down"></i>
													</span>
												</td>
												<td>{{post.messages}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="bugModal" tabindex="-1" role="dialog" aria-labelledby="bug">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">問題回報</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<textarea  class="form-control" ng-model="report" placeholder="任何問題或是有覺得系統哪邊可以改進，都可以回報給我唷 ヽ(✿ﾟ▽ﾟ)ノ" rows="3"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-primary" ng-click="addReports(report)" value="Submit"/>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.7.0/vis.min.js"></script>
		<script type="text/javascript">
			// DOM element where the Timeline will be attached
			var container = document.getElementById('timeline');

			// Create a DataSet (allows two way data-binding)
			var items = new vis.DataSet([
				{	id: 1, content: '大學部學生選填通識課程志願',
					start: '2015-08-24 13:30:00', end: '2015-08-26 12:00:00'},
				{	id: 2, content: '第一階段全校學生網路選課',
					start: '2015-08-27 09:00:00', end: '2015-08-31 12:00:00'},
				{	id: 3, content: '第二階段全校學生網路選課',
					start: '2015-09-10 09:00:00', end: '2015-09-14 12:00:00'},
				{	id: 4, content: '新生訓練營',
					start: '2015-09-7 09:00:00', end: '2015-09-10 24:00:00'},
				{	id: 5, content: '開學',
					start: '2015-09-14 09:00:00', end: '2015-09-14 24:00:00'},
				{	id: 6, content: '加退選',
					start: '2015-09-15 09:00:00', end: '2015-09-29 12:00:00'},
			]);

			// Configuration for the Timeline
			var options = {};
			// Create a Timeline
			var timeline = new vis.Timeline(container, items, options);
			// click button & scale the timeline
			$('.focusbutton').on('click', function(){
				timeline.focus($(this).attr('id'));	
			});
		</script>
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<!-- Firebase -->
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
		<script src="js/control.js"></script>
		<script src="js/ui-bootstrap-tpls-0.13.3.min.js"></script>
	</body>
</html>